<!--Header y Banner-->
<div class="inicio-container container">
    <div class="header-row row">
            <div class="logoap">
                <img class="img-fluid" src="./assets/logo-ap.png" alt="Logo-ArgentinaPrograma" id="logoAP">
                <div>
                    <span class="logo-text"><b>#YoProgramo</b></span>
                </div>
            </div> 
            <div class="redes-container container">
                <!--Facebook-->
                <div class="card">
                    <a href="https://www.facebook.com/Gimena.Bugiolachio/" target="_blank">
                        <fa-icon class="icon-redes facebook" [icon]="faFacebook"></fa-icon>
                    </a>
                </div>

                <!--Instagram-->
                <div class="card">
                    <a href="https://www.instagram.com/gimenabugiolachio/" target="_blank">
                        <fa-icon class="icon-redes instagram" [icon]="faInstagram"></fa-icon>
                    </a>
                </div>
            
                <!--Twitter-->
                <div class="card">
                    <a href="https://twitter.com/GimeBugiolachio" target="_blank">
                        <fa-icon class="icon-redes twitter" [icon]="faTwitter"></fa-icon>
                    </a>
                </div>

                <!--Linkedin-->
                <div class="card">
                    <a href="https://www.linkedin.com/in/gimena-bugiolachio-55887969/?_l=es_ES" target="_blank">
                        <fa-icon class="icon-redes linkedin" [icon]="faLinkedin"></fa-icon>
                    </a>
                </div>

            <!--Github-->
                <div class="card">
                    <a href="https://github.com/GimePuff" target="_blank">
                        <fa-icon class="icon-redes github" [icon]="faGithub"></fa-icon>
                    </a>
                </div>
            </div>
            <!--Botón Login-->
            <div class="boton-login">
                <a href="#" class="btn">
                    <span id="span1"></span>
                    <span id="span2"></span>
                    <span id="span3"></span>
                    <span id="span4"></span>
                    LOGIN
                </a>
            </div>
            <!--Ventana Modal Login-->
            <app-modal-login></app-modal-login>

            <!--Switch Modo Nocturno-->
            <div class="switch">
                <input type="checkbox" name="">
            </div>
    </div>
    <!--Banner-->
    <div class="banner">
        <img src="./assets/banner.png" class="img-fluid" id="banner">
    </div>
</div>
<app-about></app-about>
<hr>
<app-experencia></app-experencia>
<hr>
<app-educacion></app-educacion>
<hr>
<app-skills></app-skills>



<footer></footer>
